.body {
    padding: 0px;
    margin: 0px;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
#modal {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    margin-top: 125px;
    width: 100%;
    height: 100%;
    background-color: #00000024;
    width: 1440px;
    
}
.form {
    display: flex;
    position: relative;
    align-items: flex-end;
    justify-content: flex-start;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 125px;
    margin-top: 125px;
    border-radius: 4px;
    padding-left: 24px;
    padding-right: 24px;
    width: 408px;
    height: 582px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #FCFCFC;
}
.form-title {
    font-family: font-family;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-top: 0%;
    margin-top: 72px;
    margin-bottom: 16px;
    margin-right: 24px;
    padding: 0px;
}
.form-points {
    position: relative;
    width: 100%;
    margin-bottom: 24px;
    box-sizing: border-box;
    margin-top: 0px;
}
.label-input {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin-bottom: 4px;
    position: relative;
    width: 100%;
}
.form-input {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: #8E8F99;
    margin-bottom: 4px;
}
.form-field {
    width: 100%;
    height: 40px;
    padding: 8px 38px;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    box-sizing: border-box;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field:active,
.form-field:focus {
    border-color: #4D5AE5;
    outline: none;
}
.form-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    fill: #2e2f42;
    pointer-events: none;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field:focus + .form-icon,
.form-field:active + .form-icon {
    color: #4d5ae5;
}
#comment {
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 0px;
    display: flex;
    border-radius: 4px;
    padding-block: 8px;
    padding-inline: 16px;
    width: 360px;
    height: 120px;
    resize: none;
    border: 1px solid #8E8F99;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
#comment:active,
#comment:focus {
    border-color: #4D5AE5;
    outline: none;
}
.checkbox-field {
    align-items: center;
    justify-content: flex-start;
    margin-top: 16px;
    margin-bottom: 24px;
    flex-direction: row;
    gap: 8px;
    display: flex;
    height: 14px;
}
.checkbox-description {
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: #8E8F99;
    font-weight: 400;
}
.privacy {
    line-height: 1.33333;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4D5AE5;
}
.button-send {
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 0px;
    display: flex;
    padding-block: 16px;
    padding-inline: 32px;
    width: 169px;
    height: 56px;
    border-radius: 4px;
    background: #4D5AE5;
    color: #FFFFFF;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-send:hover,
.button-send:active {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #404BBF;
}
.button-sec {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.close-window {
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: absolute;
    margin-top: 24px;
    margin-bottom: 24px;
    gap: 0px;
    display: flex;
    border-radius: 24px;
    width: 24px;
    height: 24px;
    border: 1px solid #4D5AE5;
    color: #2E2F42;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-window:hover {
    background: #404BBF;
    color: #FFFFFF;
}
.footer-subscribe {
    display: block;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
    margin-right: 0px;
    margin-left: auto;
}
.footer-form {
    display: flex;
    display: flex;
    align-items: center;
    gap: 24px;
}
.footer-subscribe-title {
    display: flex;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.footer-input {
    width: 264px;
    height: 40px;

    padding-left: 16px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;

    background-color: transparent;

    color: #ffffff;

    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;

    outline: transparent;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-input::placeholder {
    color: #FFFFFF;
}
.footer-input:focus {
    border-color: #31d0aa;
}
.footer-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

    min-width: 165px;
    height: 40px;
    padding: 8px 24px;

    border: none;
    border-radius: 4px;

    background-color: #4d5ae5;

    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;

    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-button:hover,
.footer-button:focus {
    background: #31D0AA;
}